<div class="div-menu">
    <button class="btn-menu" onclick="location.href='/user/generate_wallet'">Generte Wallet</button>
    <button class="btn-menu" onclick="location.href='/wallet/show'">Wallet</button>
    <button class="btn-menu" onclick="location.href='/mining'">Mining</button>
    <button class="btn-menu" onclick="location.href='/transaction'">Transaction</button>
    <button class="btn-menu" onclick="location.href='/transaction/view'">Transactions List</button>
    <button class="btn-menu" onclick="location.href='/user/users'">User List</button>
</div>