<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>welcome to k-roller</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/public/css/RDT_style.css" />
</head>
<body>
    <div class="bg">
        {% include "./nav.html" %}
    {% if session['logged_in'] %}
        <br />
        <div class="container">
            <h4>send coins</h4>
            <p>check the transaction details and click the button to generate your transaction</p>
            <form id="transaction_form">
                <label>sender:</label>
                <input type="text" name="sender" id="sender" rows="2" class="form-control" />
                <label>sender key:</label>
                <input type="text" name="sender_key" id="sender_key" rows="2" class="form-control" />
                <label>recipient:</label>
                <input type="text" name="recipient" id="recipient" rows="2" class="form-control" />
                <label>amount:</label>
                <input type="text" name="amount" id="amount" rows="2" class="form-control" />
            </form><br /><br />
            <input type="button" onclick="generate_transaction()" class="btn-rdt" value="TRANSACTION" />
        </div>

        <div class="modal modal-alert fade" id="request_trans_modal" tabindex="-1" role="dialog" aria-labelledby="request_trans_modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title col-md-10">confirm transaction details, enter a blockchain node url, and click the confirm button to finalize your transaction</div>
                        <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="confirm_transaction_form">
                            <label>sender:</label>
                            <input type="text" name="sender" id="confirm_sender" rows="2" class="form-control" readonly />
                            <label>receipient:</label>
                            <input type="text" name="recipient" id="confirm_recipient" rows="2" class="form-control" readonly />
                            <label>amount:</label>
                            <input type="text" name="amount" id="confirm_amount" rows="2" class="form-control" readonly />
                            <label>signature:</label>
                            <input type="text" name="signature" id="confirm_signature" rows="2" class="form-control" readonly />
                            <label>blockchain node url:</label>
                            <input type="text" name="node_url" id="node_url" rows="2" class="form-control" value="http://127.0.0.1:5000" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="go_back()" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                        <button type="button" onclick="send_transaction()" class="btn btn-success">CONFIRM</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal-alert fade" id="success_trans_modal" tabindex="-1" role="dialog" aria-labelledby="success_trans_modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h4 class="alert-heading">successful transaction</h4>
                        <p>you successfully completed your transaction, it will be added to the next block</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="go_back()" id="finish_transaction" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    {% endif %}
    </div>
    <script src="/static/jquery/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sender").val("{{sender}}");
            $("#sender_key").val("{{sender_key}}");
            $("#recipient").val("{{recipient}}");
            $("#amount").val("{{amount}}");
        });
        function generate_transaction() {
            $.ajax({
                url: "/transaction/generate",
                type: "POST",
                dataType: "json",
                data: $("#transaction_form").serialize(),
                success: function (response) {
                    document.getElementById("confirm_sender").value = response["transaction"]["sender"];
                    document.getElementById("confirm_recipient").value = response["transaction"]["recipient"];
                    document.getElementById("confirm_amount").value = response["transaction"]["amount"];
                    document.getElementById("confirm_signature").value = response["signature"];
                    $("#request_trans_modal").modal("show");
                },
                error: function (error) {
                    document.write(error);
                }
            });
        }
        function send_transaction() {
            $.ajax({
                url: /*document.getElementById("node_url").value +*/ "/blockchain/transact",
                type: "POST",
                headers: { "Access-Control-Allow-Origin": "*" },
                dataType: "json",
                data: $("#confirm_transaction_form").serialize(),
                success: function (response) {
                    if (response["code"] == "1")
                        location.href = "/transaction/1";
                    if (response["code"] == "2")
                        location.href = "/transaction/2";
                    $("#transaction_form")[0].reset();
                    $("#confirm_transaction_form")[0].reset();
                    $("#sender").val("");
                    $("#sender_key").val("");
                    $("#recipient").val("");
                    $("#amount").val("");
                    $("#request_trans_modal").modal("hide");
                    $("#success_trans_modal").modal("show");
                },
                error: function (error) {
                    document.write(error);
                }
            });
        }
        function go_back() {
            location.href = "/transaction";
        }
    </script>
</body>
</html>